.container-logo{
    background-color:#4B905E;
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
    float: left;

}
.register-logo {
    width: auto;
    height: 50%;
    
}
.container-register{
    background-color: #4B905E;
    display: flex;
    width: 100%;
    height: 100vh;
}
.register-h1 {
    font-size: 5rem;
    margin: 20px auto;
    color: white;
}
.register-h2{
    font-size: 3rem;
    color: white;
    text-align: center;
}
.form-register {
    font-size: 1.5rem;
    background-color: #E1E1E1;
    margin: auto 55px;

}
.register-login {
    background-color: #4B905E;
    display: flex;
    flex-direction: column;
    width: 50%;
    float: right;
}
.prenom-register {
    padding-right: 2px;
}

.p-register{
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}
.bottom-register{
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
    width: 100%;

}


.button-fb{
    background-color:#3C579C;
    border-radius: 20px;
    color: white;
    width: 90%;
    margin: auto;
    height: 4rem;
}
.button-signin {
    width: 90%;
    border-radius: 20px;
    background-color: #4B905E;
    color: white;
    height: 4rem;
}
.bottom-register a{
    display: flex;
    justify-content: center;
}

.form-row{
    display:flex;
    justify-content: center;
    align-items: center;
}

.separation{
    text-align: center;
}
.register-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;

}