.profile-container {
    display:flex;
    width:100%;
    flex-direction: column;
    background-color: #D3D3D3
}

.profile-page-div {
    display:flex;
    flex-direction: column;
    width:80%;
    margin: 0 auto;
}

.profile-button-modal {
    align-self: flex-end;
}

/* First DIV */


.profile-img {
    position: absolute;
    width: 15rem;
    height: auto;
    border-radius: 50%;
    top: 22rem;
    left: 50%;
    transform: translateX(-50%);
}

.profile-div {
    width: 100%;
    display:flex;
    flex-direction: column;
    margin-bottom: 50px;
    box-shadow: inset 0 0 10px #000000;
    background-color: white;
}

.baneer-profile {
    width: 100%;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: inset 0 0 10px #000000;
    height: 25rem;
    object-fit: cover;
    overflow: hidden;
}

#baneer-img {
    width:100%;
    height: auto;
}

.profile-info-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: inset 0 0 10px #000000;
}

.profile-name {
    margin-top: 5rem;
    margin-bottom: 2px;
    font-size: 35px;
    font-weight: bold;
}

.profile-role {
    font-size: 20px;
    font-weight: bold;
}

.profile-count-relation-div {
    display:flex;
    justify-content: center;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    background-color:#4B905E;
    box-shadow: inset 0 0 10px #000000;
}

.relation-count{
    margin-top:10px;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    top: 50%;
}

/* Second DIV */

.profile-title-div {

    display:flex;
    justify-content: space-between;
    padding: 0px 0px 0px 1rem;
    background-color:#4B905E;
    box-shadow: inset 0 0 10px #000000;
   
}

.profile-title {

    font-size: 30px;
    font-weight: bold;
    color: white;
    margin-top: 10px;
}

.profile-fiche-sportive {
    display:flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    
}

.profile-field {
    margin-top: 10px;
    font-weight: bold;
}

/* Third Div */

.profile-parcours-sportif {
    display:flex;
    flex-direction: column;   
}

.profile-div-club-map {

    margin-top: 10px;
    margin-bottom: 10px;
    display:flex;
    flex-direction: column; 
    border: 1px solid black;
    border-radius: 10px;
}

/* Fourth Div */ 

.profile-palmares {
    display:flex;
    flex-direction: column;   
}

.profile-div-palmares-map {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#profile-field-bold{
    font-weight: bold;
}

/* Fifth DIV */

.profile-distinctions {
    display:flex;
    flex-direction: column;   
}

.profile-div-distinctions-map {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p{
    font-weight: bold;
}

button {
color: white!important;
border-radius: 60%;

}